<div id="header" class="container-fluid">
    <div class="left"><strong>Car<sup>O</sup>nSale</strong><i style="margin-left:5px;" class="fa fa-car"></i>
    </div>
    <div class="right"><button class="bt" type="submit" (click)="log()">login</button></div>
</div>
<router-outlet></router-outlet>
<div id="footer" class="container-fluid">
    
        <span>Contact Us-</span>
        <i class="fa fa-phone-square"></i>
        <i class="fa fa-google-plus"></i>
        <i class="fa fa-facebook facebook"></i>
        <i class="fa fa-twitter twitter"></i>
        <i class="fa fa-instagram instagram"></i>
  </div>
  